In [1]:
import pandas as pd
import numpy as np

In [2]:
%matplotlib inline

In [3]:
col = pd.read_csv('CovidColombia.csv', usecols= ['Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'Tipo recuperación'],date_parser= ['Fecha de notificación','Fecha de muerte', 'Fecha diagnostico',
       'Fecha recuperado'], low_memory = False)

In [4]:
fecha = col['Fecha de notificación'].max()

In [5]:
FECHA = fecha.rstrip('T00:00:00.000')
FECHA

'2020-09-23'

In [6]:
col[['Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'Tipo recuperación']]=  col[['Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'Tipo recuperación']].astype('category')

In [7]:
col

,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,Fecha de muerte,Fecha diagnostico,Fecha recuperado,Tipo recuperación
0,2020-03-02T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,ITALIA,NaN,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,PCR
1,2020-03-06T00:00:00.000,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,ESPAÑA,NaN,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,PCR
2,2020-03-07T00:00:00.000,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,ESPAÑA,NaN,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,PCR
3,2020-03-09T00:00:00.000,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,NaN,NaN,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,PCR
4,2020-03-09T00:00:00.000,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,NaN,NaN,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,PCR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
784263,2020-09-03T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Casa,84,M,En estudio,Leve,NaN,NaN,2020-09-22T00:00:00.000,NaN,NaN
784264,2020-08-28T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Casa,46,M,En estudio,Leve,NaN,NaN,2020-09-22T00:00:00.000,NaN,NaN
784265,2020-08-27T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Casa,3,M,En estudio,Leve,NaN,NaN,2020-09-22T00:00:00.000,NaN,NaN
784266,2020-09-11T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Hospital,69,M,En estudio,Moderado,NaN,NaN,2020-09-22T00:00:00.000,NaN,NaN
784267,2020-09-15T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Hospital,66,F,En estudio,Moderado,NaN,NaN,2020-09-22T00:00:00.000,NaN,NaN

In [8]:
filtro= col['Fecha de muerte'].notnull()
colfallecidos = col.loc[filtro,:]
colfallecidos

,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,Fecha de muerte,Fecha diagnostico,Fecha recuperado,Tipo recuperación
151,2020-03-18T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Fallecido,65,M,Importado,Fallecido,ESTADOS UNIDOS,2020-04-05T00:00:00.000,2020-03-20T00:00:00.000,NaN,NaN
152,2020-03-18T00:00:00.000,Bogotá D.C.,Bogotá D.C.,Fallecido,53,F,Relacionado,Fallecido,NaN,2020-04-06T00:00:00.000,2020-03-20T00:00:00.000,NaN,NaN
156,2020-03-20T00:00:00.000,Santa Marta,Santa Marta D.T. y C.,Fallecido,88,M,Relacionado,Fallecido,NaN,2020-03-23T00:00:00.000,2020-03-20T00:00:00.000,NaN,NaN
187,2020-03-17T00:00:00.000,Yumbo,Valle del Cauca,Fallecido,70,F,Relacionado,Fallecido,NaN,2020-03-22T00:00:00.000,2020-03-21T00:00:00.000,NaN,NaN
196,2020-03-13T00:00:00.000,Cartagena de Indias,Cartagena D.T. y C.,Fallecido,58,M,Relacionado,Fallecido,NaN,2020-03-16T00:00:00.000,2020-03-16T00:00:00.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
781013,2020-09-17T00:00:00.000,Ipiales,Nariño,Hospital UCI,73,F,En estudio,Grave,NaN,2020-09-18T00:00:00.000,2020-09-22T00:00:00.000,NaN,NaN
781128,2020-09-18T00:00:00.000,Inírida,Guainía,Hospital UCI,63,F,En estudio,Grave,NaN,2020-09-18T00:00:00.000,2020-09-20T00:00:00.000,NaN,NaN
781135,2020-09-22T00:00:00.000,Montería,Córdoba,Hospital UCI,67,M,En estudio,Grave,NaN,2020-08-27T00:00:00.000,2020-08-29T00:00:00.000,NaN,NaN
781146,2020-09-11T00:00:00.000,Cali,Valle del Cauca,Hospital UCI,83,M,En estudio,Grave,NaN,2020-09-16T00:00:00.000,2020-09-22T00:00:00.000,NaN,NaN
781151,2020-09-10T00:00:00.000,Valledupar,Cesar,Hospital UCI,63,M,En estudio,Grave,NaN,2020-09-16T00:00:00.000,2020-09-22T00:00:00.000,NaN,NaN

In [9]:
localidad = input('Ingrese el departamento:  ')
localidad1 = input('Ingrese el municipio: ' )

Ingrese el departamento:  Caldas
Ingrese el municipio: Manizales

In [10]:
filtro = (colfallecidos['Departamento o Distrito ']== localidad) | (colfallecidos['Ciudad de ubicación']==localidad1) & (col['Fecha de muerte'].notnull())
fallecidosAge= colfallecidos.loc[filtro,['Edad', 'Fecha de muerte']]
fallecidos = fallecidosAge.groupby('Edad')['Fecha de muerte'].count().to_frame()

In [11]:
fallecidos

      Fecha de muerte
Edad
1                   0
2                   0
3                   0
4                   0
5                   0
...               ...
107                 0
108                 0
110                 0
111                 0
112                 0

[111 rows x 1 columns]

filtro = col['Fecha de muerte'].notnull()
fallecidosEdad = col.loc[filtro, ['Edad', 'Fecha de muerte']]
fallecidos = fallecidosEdad.groupby('Edad')['Edad'].count().to_frame()

fallecidos.rename(columns={'Edad':'Número fallecidos'},inplace=True)

In [12]:
fallecidos.rename(columns={'Fecha de muerte':'Número fallecidos'},inplace=True)

fallecidos

In [13]:
cerocuatro = fallecidos.iloc[0:5].sum()
cincocatorce= fallecidos.iloc[5:15].sum()
quincecuarentaycuatro = fallecidos.iloc[15:45].sum()
cuarentaycincosesentaycuatro = fallecidos.iloc[45:65].sum()
sesentaycincoochentaycuatro = fallecidos.iloc[65:85].sum()
ochentaycinconoventaynueve = fallecidos.iloc[85:100].sum()
cienomas = fallecidos.iloc[100:150].sum()

lista= [cerocuatro,cincocatorce,quincecuarentaycuatro,cuarentaycincosesentaycuatro,sesentaycincoochentaycuatro,ochentaycinconoventaynueve,cienomas]
lista

[Número fallecidos    0
 dtype: int64,
 Número fallecidos    1
 dtype: int64,
 Número fallecidos    8
 dtype: int64,
 Número fallecidos    32
 dtype: int64,
 Número fallecidos    76
 dtype: int64,
 Número fallecidos    20
 dtype: int64,
 Número fallecidos    0
 dtype: int64]

In [14]:
d={'edad 0 a 4':cerocuatro, 'edad 5 a 14':cincocatorce,
       'edad 15 a 44':quincecuarentaycuatro, 'edad 45 a 64':cuarentaycincosesentaycuatro, 'edad 65 a 84':sesentaycincoochentaycuatro, 'edad 85 a 99':ochentaycinconoventaynueve,
       'edad 100 o mas':cienomas}
df = pd.DataFrame(data=d)
df['Total fallecidos']= df.loc['Número fallecidos','edad 0 a 4']+ df.loc['Número fallecidos','edad 5 a 14']+df.loc['Número fallecidos','edad 15 a 44']+df.loc['Número fallecidos','edad 45 a 64']+df.loc['Número fallecidos','edad 65 a 84']+df.loc['Número fallecidos','edad 85 a 99']+df.loc['Número fallecidos','edad 100 o mas']
df

,edad 0 a 4,edad 5 a 14,edad 15 a 44,edad 45 a 64,edad 65 a 84,edad 85 a 99,edad 100 o mas,Total fallecidos
Número fallecidos,0,1,8,32,76,20,0,137

In [15]:
df.to_csv('etarioDefunciones.csv')