In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows', 500)

In [3]:
gompertz = pd.read_csv('CovidColombia.csv', low_memory=False, usecols= ['ID de caso', 'Fecha de notificación', 
                                                                        'Ciudad de ubicación', 
                                                                        'Departamento o Distrito '], 
                                                                        parse_dates=['Fecha de notificación'] )

In [4]:
gompertz.sort_values(by=['Fecha de notificación'],inplace=True)

In [5]:
gompertz['Fecha de notificación']= gompertz['Fecha de notificación'].dt.floor('d')

In [6]:
df = pd.DataFrame(gompertz['Fecha de notificación']).loc[0]

In [7]:
a = gompertz.loc[0,'Fecha de notificación']

In [8]:
b = np.datetime64('today') 
b

numpy.datetime64('2020-08-25')

In [9]:
longitud = (b-a)/ np.timedelta64(1, 'D')
longitud=int(longitud)-1
longitud

175

In [10]:
df_fechas = pd.DataFrame(df).transpose()
df_fechas

  Fecha de notificación
0            2020-03-02

In [11]:
df_fechas['ID de caso']=0

In [12]:
df_fechas

  Fecha de notificación  ID de caso
0            2020-03-02           0

In [13]:
pd.to_datetime([df_fechas.loc[0,'Fecha de notificación']])

DatetimeIndex(['2020-03-02'], dtype='datetime64[ns]', freq=None)

In [14]:
(np.datetime64(df_fechas.loc[0, 'Fecha de notificación']) + np.timedelta64(1,'D'))

numpy.datetime64('2020-03-03T00:00:00.000000')

In [15]:
for i in range(1,longitud):
    df_fechas.loc[(i)] = [(np.datetime64(df_fechas.loc[i-1, 'Fecha de notificación']) + np.timedelta64(1,'D')),0]

In [16]:
df_fechas

    Fecha de notificación  ID de caso
0              2020-03-02           0
1              2020-03-03           0
2              2020-03-04           0
3              2020-03-05           0
4              2020-03-06           0
5              2020-03-07           0
6              2020-03-08           0
7              2020-03-09           0
8              2020-03-10           0
9              2020-03-11           0
10             2020-03-12           0
11             2020-03-13           0
12             2020-03-14           0
13             2020-03-15           0
14             2020-03-16           0
15             2020-03-17           0
16             2020-03-18           0
17             2020-03-19           0
18             2020-03-20           0
19             2020-03-21           0
20             2020-03-22           0
21             2020-03-23           0
22             2020-03-24           0
23             2020-03-25           0
24             2020-03-26           0
25             2020-03-27           0
26             2020-03-28           0
27             2020-03-29           0
28             2020-03-30           0
29             2020-03-31           0
30             2020-04-01           0
31             2020-04-02           0
32             2020-04-03           0
33             2020-04-04           0
34             2020-04-05           0
35             2020-04-06           0
36             2020-04-07           0
37             2020-04-08           0
38             2020-04-09           0
39             2020-04-10           0
40             2020-04-11           0
41             2020-04-12           0
42             2020-04-13           0
43             2020-04-14           0
44             2020-04-15           0
45             2020-04-16           0
46             2020-04-17           0
47             2020-04-18           0
48             2020-04-19           0
49             2020-04-20           0
50             2020-04-21           0
51             2020-04-22           0
52             2020-04-23           0
53             2020-04-24           0
54             2020-04-25           0
55             2020-04-26           0
56             2020-04-27           0
57             2020-04-28           0
58             2020-04-29           0
59             2020-04-30           0
60             2020-05-01           0
61             2020-05-02           0
62             2020-05-03           0
63             2020-05-04           0
64             2020-05-05           0
65             2020-05-06           0
66             2020-05-07           0
67             2020-05-08           0
68             2020-05-09           0
69             2020-05-10           0
70             2020-05-11           0
71             2020-05-12           0
72             2020-05-13           0
73             2020-05-14           0
74             2020-05-15           0
75             2020-05-16           0
76             2020-05-17           0
77             2020-05-18           0
78             2020-05-19           0
79             2020-05-20           0
80             2020-05-21           0
81             2020-05-22           0
82             2020-05-23           0
83             2020-05-24           0
84             2020-05-25           0
85             2020-05-26           0
86             2020-05-27           0
87             2020-05-28           0
88             2020-05-29           0
89             2020-05-30           0
90             2020-05-31           0
91             2020-06-01           0
92             2020-06-02           0
93             2020-06-03           0
94             2020-06-04           0
95             2020-06-05           0
96             2020-06-06           0
97             2020-06-07           0
98             2020-06-08           0
99             2020-06-09           0
100            2020-06-10           0
101            2020-06-11           0
102            2020-06-12           0
103            2020-06-13           0
104            2020-06-14           0
105            2020-06-15           0
106            2020-06-16           0
107            2020-06-17           0
108            2020-06-18           0
109            2020-06-19           0
110            2020-06-20           0
111            2020-06-21           0
112            2020-06-22           0
113            2020-06-23           0
114            2020-06-24           0
115            2020-06-25           0
116            2020-06-26           0
117            2020-06-27           0
118            2020-06-28           0
119            2020-06-29           0
120            2020-06-30           0
121            2020-07-01           0
122            2020-07-02           0
123            2020-07-03           0
124            2020-07-04           0
125            2020-07-05           0
126            2020-07-06           0
127            2020-07-07           0
128            2020-07-08           0
129            2020-07-09           0
130            2020-07-10           0
131            2020-07-11           0
132            2020-07-12           0
133            2020-07-13           0
134            2020-07-14           0
135            2020-07-15           0
136            2020-07-16           0
137            2020-07-17           0
138            2020-07-18           0
139            2020-07-19           0
140            2020-07-20           0
141            2020-07-21           0
142            2020-07-22           0
143            2020-07-23           0
144            2020-07-24           0
145            2020-07-25           0
146            2020-07-26           0
147            2020-07-27           0
148            2020-07-28           0
149            2020-07-29           0
150            2020-07-30           0
151            2020-07-31           0
152            2020-08-01           0
153            2020-08-02           0
154            2020-08-03           0
155            2020-08-04           0
156            2020-08-05           0
157            2020-08-06           0
158            2020-08-07           0
159            2020-08-08           0
160            2020-08-09           0
161            2020-08-10           0
162            2020-08-11           0
163            2020-08-12           0
164            2020-08-13           0
165            2020-08-14           0
166            2020-08-15           0
167            2020-08-16           0
168            2020-08-17           0
169            2020-08-18           0
170            2020-08-19           0
171            2020-08-20           0
172            2020-08-21           0
173            2020-08-22           0
174            2020-08-23           0

In [17]:
departamento = 'Caldas'

In [18]:
filtro = gompertz['Departamento o Distrito '] == departamento
gompertz_dpto = gompertz.loc[filtro,:]

In [19]:
gompertz_dpto=gompertz_dpto.append(df_fechas).sort_values(by=['Fecha de notificación'], ignore_index=True)

In [20]:
gompertz_dpto

,ID de caso,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito
0,0,2020-03-02,NaN,NaN
1,0,2020-03-03,NaN,NaN
2,0,2020-03-04,NaN,NaN
3,0,2020-03-05,NaN,NaN
4,0,2020-03-06,NaN,NaN
...,...,...,...,...
2556,543542,2020-08-22,Manizales,Caldas
2557,539314,2020-08-22,Manizales,Caldas
2558,527703,2020-08-22,Riosucio,Caldas
2559,548930,2020-08-23,Manizales,Caldas
2560,0,2020-08-23,NaN,NaN

In [21]:
longitud = gompertz_dpto['ID de caso'].size
longitud

2561

In [22]:
gompertz_dpto.columns

Index(['ID de caso', 'Fecha de notificación', 'Ciudad de ubicación',
       'Departamento o Distrito '],
      dtype='object')

In [23]:
for i in range(0, longitud):
    if gompertz_dpto.loc[i, 'ID de caso'] == 0:
        pass
    else:
        gompertz_dpto.loc[i, 'ID de caso'] = 1

In [24]:
gompertz_dpto

,ID de caso,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito
0,0,2020-03-02,NaN,NaN
1,0,2020-03-03,NaN,NaN
2,0,2020-03-04,NaN,NaN
3,0,2020-03-05,NaN,NaN
4,0,2020-03-06,NaN,NaN
...,...,...,...,...
2556,1,2020-08-22,Manizales,Caldas
2557,1,2020-08-22,Manizales,Caldas
2558,1,2020-08-22,Riosucio,Caldas
2559,1,2020-08-23,Manizales,Caldas
2560,0,2020-08-23,NaN,NaN

In [25]:
gompertz_dpto['Acumulados']= 0
gompertz_dpto['Día número']=0
gompertz_dpto['Penetración real']=0
gompertz_dpto

,ID de caso,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito,Acumulados,Día número,Penetración real
0,0,2020-03-02,NaN,NaN,0,0,0
1,0,2020-03-03,NaN,NaN,0,0,0
2,0,2020-03-04,NaN,NaN,0,0,0
3,0,2020-03-05,NaN,NaN,0,0,0
4,0,2020-03-06,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...
2556,1,2020-08-22,Manizales,Caldas,0,0,0
2557,1,2020-08-22,Manizales,Caldas,0,0,0
2558,1,2020-08-22,Riosucio,Caldas,0,0,0
2559,1,2020-08-23,Manizales,Caldas,0,0,0
2560,0,2020-08-23,NaN,NaN,0,0,0

In [26]:
gompertz_dpto.loc[0, 'Acumulados']= gompertz_dpto.loc[0, 'ID de caso']
for i in range(1, longitud):
    gompertz_dpto.loc[i,'Acumulados'] = gompertz_dpto.loc[i, 'ID de caso'] + gompertz_dpto.loc[i-1, 'Acumulados']

In [27]:
gompertz_dpto

,ID de caso,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito,Acumulados,Día número,Penetración real
0,0,2020-03-02,NaN,NaN,0,0,0
1,0,2020-03-03,NaN,NaN,0,0,0
2,0,2020-03-04,NaN,NaN,0,0,0
3,0,2020-03-05,NaN,NaN,0,0,0
4,0,2020-03-06,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...
2556,1,2020-08-22,Manizales,Caldas,2383,0,0
2557,1,2020-08-22,Manizales,Caldas,2384,0,0
2558,1,2020-08-22,Riosucio,Caldas,2385,0,0
2559,1,2020-08-23,Manizales,Caldas,2386,0,0
2560,0,2020-08-23,NaN,NaN,2386,0,0

In [28]:
gompertz_dpto = gompertz_dpto.groupby('Fecha de notificación')[['ID de caso', 'Ciudad de ubicación',
       'Departamento o Distrito ', 'Acumulados', 'Día número',
       'Penetración real']].max()

In [29]:
gompertz_dpto

,ID de caso,Ciudad de ubicación,Departamento o Distrito,Acumulados,Día número,Penetración real
Fecha de notificación,,,,,,
2020-03-02,0,NaN,NaN,0,0,0
2020-03-03,0,NaN,NaN,0,0,0
2020-03-04,0,NaN,NaN,0,0,0
2020-03-05,0,NaN,NaN,0,0,0
2020-03-06,0,NaN,NaN,0,0,0
2020-03-07,0,NaN,NaN,0,0,0
2020-03-08,0,NaN,NaN,0,0,0
2020-03-09,0,NaN,NaN,0,0,0
2020-03-10,0,NaN,NaN,0,0,0
2020-03-11,0,NaN,NaN,0,0,0
2020-03-12,1,NaN,NaN,1,0,0
2020-03-13,0,NaN,NaN,1,0,0
2020-03-14,0,NaN,NaN,1,0,0
2020-03-15,0,NaN,NaN,1,0,0
2020-03-16,0,NaN,NaN,1,0,0
2020-03-17,1,NaN,NaN,2,0,0
2020-03-18,1,NaN,NaN,3,0,0
2020-03-19,1,NaN,NaN,7,0,0
2020-03-20,0,NaN,NaN,7,0,0
2020-03-21,1,NaN,NaN,9,0,0
2020-03-22,1,NaN,NaN,11,0,0
2020-03-23,0,NaN,NaN,11,0,0
2020-03-24,1,NaN,NaN,13,0,0
2020-03-25,1,NaN,NaN,14,0,0
2020-03-26,1,NaN,NaN,15,0,0
2020-03-27,0,NaN,NaN,15,0,0
2020-03-28,1,NaN,NaN,17,0,0
2020-03-29,0,NaN,NaN,17,0,0
2020-03-30,1,NaN,NaN,22,0,0
2020-03-31,1,NaN,NaN,28,0,0
2020-04-01,1,NaN,NaN,29,0,0
2020-04-02,1,NaN,NaN,31,0,0
2020-04-03,1,NaN,NaN,32,0,0
2020-04-04,1,NaN,NaN,33,0,0
2020-04-05,1,NaN,NaN,34,0,0
2020-04-06,1,NaN,NaN,36,0,0
2020-04-07,0,NaN,NaN,36,0,0
2020-04-08,1,NaN,NaN,37,0,0
2020-04-09,1,NaN,NaN,39,0,0
2020-04-10,1,NaN,NaN,44,0,0
2020-04-11,0,NaN,NaN,44,0,0
2020-04-12,1,NaN,NaN,46,0,0
2020-04-13,1,NaN,NaN,48,0,0
2020-04-14,1,NaN,NaN,53,0,0
2020-04-15,0,NaN,NaN,53,0,0
2020-04-16,0,NaN,NaN,53,0,0
2020-04-17,0,NaN,NaN,53,0,0
2020-04-18,0,NaN,NaN,53,0,0
2020-04-19,0,NaN,NaN,53,0,0
2020-04-20,1,NaN,NaN,54,0,0
2020-04-21,1,NaN,NaN,55,0,0
2020-04-22,1,NaN,NaN,56,0,0
2020-04-23,1,NaN,NaN,57,0,0
2020-04-24,1,NaN,NaN,59,0,0
2020-04-25,0,NaN,NaN,59,0,0
2020-04-26,1,NaN,NaN,68,0,0
2020-04-27,1,NaN,NaN,71,0,0
2020-04-28,1,NaN,NaN,79,0,0
2020-04-29,1,NaN,NaN,84,0,0
2020-04-30,0,NaN,NaN,84,0,0
2020-05-01,1,NaN,NaN,88,0,0
2020-05-02,1,NaN,NaN,98,0,0
2020-05-03,1,NaN,NaN,99,0,0
2020-05-04,1,NaN,NaN,100,0,0
2020-05-05,1,NaN,NaN,101,0,0
2020-05-06,1,NaN,NaN,104,0,0
2020-05-07,1,NaN,NaN,106,0,0
2020-05-08,1,NaN,NaN,108,0,0
2020-05-09,1,NaN,NaN,112,0,0
2020-05-10,1,NaN,NaN,114,0,0
2020-05-11,0,NaN,NaN,114,0,0
2020-05-12,1,NaN,NaN,120,0,0
2020-05-13,0,NaN,NaN,120,0,0
2020-05-14,1,NaN,NaN,121,0,0
2020-05-15,1,NaN,NaN,126,0,0
2020-05-16,0,NaN,NaN,126,0,0
2020-05-17,0,NaN,NaN,126,0,0
2020-05-18,0,NaN,NaN,126,0,0
2020-05-19,1,NaN,NaN,127,0,0
2020-05-20,1,NaN,NaN,128,0,0
2020-05-21,1,NaN,NaN,133,0,0
2020-05-22,1,NaN,NaN,136,0,0
2020-05-23,1,NaN,NaN,138,0,0
2020-05-24,0,NaN,NaN,138,0,0
2020-05-25,0,NaN,NaN,138,0,0
2020-05-26,1,NaN,NaN,141,0,0
2020-05-27,1,NaN,NaN,145,0,0
2020-05-28,1,NaN,NaN,151,0,0
2020-05-29,1,NaN,NaN,161,0,0
2020-05-30,0,NaN,NaN,161,0,0
2020-05-31,0,NaN,NaN,161,0,0
2020-06-01,1,NaN,NaN,166,0,0
2020-06-02,1,NaN,NaN,174,0,0
2020-06-03,1,NaN,NaN,180,0,0
2020-06-04,1,NaN,NaN,183,0,0
2020-06-05,1,NaN,NaN,188,0,0
2020-06-06,1,NaN,NaN,192,0,0
2020-06-07,0,NaN,NaN,192,0,0
2020-06-08,1,NaN,NaN,195,0,0
2020-06-09,1,NaN,NaN,196,0,0
2020-06-10,1,NaN,NaN,203,0,0
2020-06-11,1,NaN,NaN,213,0,0
2020-06-12,1,NaN,NaN,224,0,0
2020-06-13,1,NaN,NaN,227,0,0
2020-06-14,0,NaN,NaN,227,0,0
2020-06-15,1,NaN,NaN,230,0,0
2020-06-16,1,NaN,NaN,235,0,0
2020-06-17,1,NaN,NaN,240,0,0
2020-06-18,1,NaN,NaN,241,0,0
2020-06-19,1,NaN,NaN,246,0,0
2020-06-20,1,NaN,NaN,247,0,0
2020-06-21,0,NaN,NaN,247,0,0
2020-06-22,1,NaN,NaN,249,0,0
2020-06-23,1,NaN,NaN,256,0,0
2020-06-24,1,NaN,NaN,257,0,0
2020-06-25,1,NaN,NaN,260,0,0
2020-06-26,1,NaN,NaN,267,0,0
2020-06-27,1,NaN,NaN,270,0,0
2020-06-28,1,NaN,NaN,271,0,0
2020-06-29,1,NaN,NaN,275,0,0
2020-06-30,1,NaN,NaN,281,0,0
2020-07-01,1,NaN,NaN,292,0,0
2020-07-02,1,NaN,NaN,296,0,0
2020-07-03,1,NaN,NaN,299,0,0
2020-07-04,1,NaN,NaN,300,0,0
2020-07-05,0,NaN,NaN,300,0,0
2020-07-06,1,NaN,NaN,304,0,0
2020-07-07,1,NaN,NaN,313,0,0
2020-07-08,1,NaN,NaN,340,0,0
2020-07-09,1,NaN,NaN,356,0,0
2020-07-10,1,NaN,NaN,412,0,0
2020-07-11,1,NaN,NaN,421,0,0
2020-07-12,1,NaN,NaN,422,0,0
2020-07-13,1,NaN,NaN,453,0,0
2020-07-14,1,NaN,NaN,517,0,0
2020-07-15,1,NaN,NaN,550,0,0
2020-07-16,1,NaN,NaN,605,0,0
2020-07-17,1,NaN,NaN,659,0,0
2020-07-18,1,NaN,NaN,685,0,0
2020-07-19,1,NaN,NaN,724,0,0
2020-07-20,1,NaN,NaN,746,0,0
2020-07-21,1,NaN,NaN,823,0,0
2020-07-22,1,NaN,NaN,874,0,0
2020-07-23,1,NaN,NaN,911,0,0
2020-07-24,1,NaN,NaN,988,0,0
2020-07-25,1,NaN,NaN,1024,0,0
2020-07-26,1,NaN,NaN,1037,0,0
2020-07-27,1,NaN,NaN,1069,0,0
2020-07-28,1,NaN,NaN,1123,0,0
2020-07-29,1,NaN,NaN,1177,0,0
2020-07-30,1,NaN,NaN,1242,0,0
2020-07-31,1,NaN,NaN,1312,0,0
2020-08-01,1,NaN,NaN,1354,0,0
2020-08-02,1,NaN,NaN,1383,0,0
2020-08-03,1,NaN,NaN,1424,0,0
2020-08-04,1,NaN,NaN,1459,0,0
2020-08-05,1,NaN,NaN,1501,0,0
2020-08-06,1,NaN,NaN,1570,0,0
2020-08-07,1,NaN,NaN,1624,0,0
2020-08-08,1,NaN,NaN,1664,0,0
2020-08-09,1,NaN,NaN,1699,0,0
2020-08-10,1,NaN,NaN,1757,0,0
2020-08-11,1,NaN,NaN,1842,0,0
2020-08-12,1,NaN,NaN,1904,0,0
2020-08-13,1,NaN,NaN,1966,0,0
2020-08-14,1,NaN,NaN,2054,0,0
2020-08-15,1,NaN,NaN,2087,0,0
2020-08-16,1,NaN,NaN,2156,0,0
2020-08-17,1,NaN,NaN,2187,0,0
2020-08-18,1,NaN,NaN,2263,0,0
2020-08-19,1,NaN,NaN,2290,0,0
2020-08-20,1,NaN,NaN,2330,0,0
2020-08-21,1,NaN,NaN,2378,0,0
2020-08-22,1,NaN,NaN,2385,0,0
2020-08-23,1,NaN,NaN,2386,0,0

In [30]:
gompertz_dpto.reset_index(inplace=True)

In [31]:
longitud = gompertz_dpto['ID de caso'].size
longitud

175

In [32]:
gompertz_dpto.loc[0, 'Día número'] = 1
for i in range(1, longitud):
    gompertz_dpto.loc[i,'Día número'] = i+1
    gompertz_dpto.loc[i,'Penetración real'] = gompertz_dpto.loc[i, 'Acumulados']/ gompertz_dpto.loc[longitud-1, 'Acumulados']

In [33]:
gompertz_dpto

,Fecha de notificación,ID de caso,Ciudad de ubicación,Departamento o Distrito,Acumulados,Día número,Penetración real
0,2020-03-02,0,NaN,NaN,0,1,0.000000
1,2020-03-03,0,NaN,NaN,0,2,0.000000
2,2020-03-04,0,NaN,NaN,0,3,0.000000
3,2020-03-05,0,NaN,NaN,0,4,0.000000
4,2020-03-06,0,NaN,NaN,0,5,0.000000
5,2020-03-07,0,NaN,NaN,0,6,0.000000
6,2020-03-08,0,NaN,NaN,0,7,0.000000
7,2020-03-09,0,NaN,NaN,0,8,0.000000
8,2020-03-10,0,NaN,NaN,0,9,0.000000
9,2020-03-11,0,NaN,NaN,0,10,0.000000
10,2020-03-12,1,NaN,NaN,1,11,0.000419
11,2020-03-13,0,NaN,NaN,1,12,0.000419
12,2020-03-14,0,NaN,NaN,1,13,0.000419
13,2020-03-15,0,NaN,NaN,1,14,0.000419
14,2020-03-16,0,NaN,NaN,1,15,0.000419
15,2020-03-17,1,NaN,NaN,2,16,0.000838
16,2020-03-18,1,NaN,NaN,3,17,0.001257
17,2020-03-19,1,NaN,NaN,7,18,0.002934
18,2020-03-20,0,NaN,NaN,7,19,0.002934
19,2020-03-21,1,NaN,NaN,9,20,0.003772
20,2020-03-22,1,NaN,NaN,11,21,0.004610
21,2020-03-23,0,NaN,NaN,11,22,0.004610
22,2020-03-24,1,NaN,NaN,13,23,0.005448
23,2020-03-25,1,NaN,NaN,14,24,0.005868
24,2020-03-26,1,NaN,NaN,15,25,0.006287
25,2020-03-27,0,NaN,NaN,15,26,0.006287
26,2020-03-28,1,NaN,NaN,17,27,0.007125
27,2020-03-29,0,NaN,NaN,17,28,0.007125
28,2020-03-30,1,NaN,NaN,22,29,0.009220
29,2020-03-31,1,NaN,NaN,28,30,0.011735
30,2020-04-01,1,NaN,NaN,29,31,0.012154
31,2020-04-02,1,NaN,NaN,31,32,0.012992
32,2020-04-03,1,NaN,NaN,32,33,0.013412
33,2020-04-04,1,NaN,NaN,33,34,0.013831
34,2020-04-05,1,NaN,NaN,34,35,0.014250
35,2020-04-06,1,NaN,NaN,36,36,0.015088
36,2020-04-07,0,NaN,NaN,36,37,0.015088
37,2020-04-08,1,NaN,NaN,37,38,0.015507
38,2020-04-09,1,NaN,NaN,39,39,0.016345
39,2020-04-10,1,NaN,NaN,44,40,0.018441
40,2020-04-11,0,NaN,NaN,44,41,0.018441
41,2020-04-12,1,NaN,NaN,46,42,0.019279
42,2020-04-13,1,NaN,NaN,48,43,0.020117
43,2020-04-14,1,NaN,NaN,53,44,0.022213
44,2020-04-15,0,NaN,NaN,53,45,0.022213
45,2020-04-16,0,NaN,NaN,53,46,0.022213
46,2020-04-17,0,NaN,NaN,53,47,0.022213
47,2020-04-18,0,NaN,NaN,53,48,0.022213
48,2020-04-19,0,NaN,NaN,53,49,0.022213
49,2020-04-20,1,NaN,NaN,54,50,0.022632
50,2020-04-21,1,NaN,NaN,55,51,0.023051
51,2020-04-22,1,NaN,NaN,56,52,0.023470
52,2020-04-23,1,NaN,NaN,57,53,0.023889
53,2020-04-24,1,NaN,NaN,59,54,0.024728
54,2020-04-25,0,NaN,NaN,59,55,0.024728
55,2020-04-26,1,NaN,NaN,68,56,0.028500
56,2020-04-27,1,NaN,NaN,71,57,0.029757
57,2020-04-28,1,NaN,NaN,79,58,0.033110
58,2020-04-29,1,NaN,NaN,84,59,0.035205
59,2020-04-30,0,NaN,NaN,84,60,0.035205
60,2020-05-01,1,NaN,NaN,88,61,0.036882
61,2020-05-02,1,NaN,NaN,98,62,0.041073
62,2020-05-03,1,NaN,NaN,99,63,0.041492
63,2020-05-04,1,NaN,NaN,100,64,0.041911
64,2020-05-05,1,NaN,NaN,101,65,0.042330
65,2020-05-06,1,NaN,NaN,104,66,0.043588
66,2020-05-07,1,NaN,NaN,106,67,0.044426
67,2020-05-08,1,NaN,NaN,108,68,0.045264
68,2020-05-09,1,NaN,NaN,112,69,0.046940
69,2020-05-10,1,NaN,NaN,114,70,0.047779
70,2020-05-11,0,NaN,NaN,114,71,0.047779
71,2020-05-12,1,NaN,NaN,120,72,0.050293
72,2020-05-13,0,NaN,NaN,120,73,0.050293
73,2020-05-14,1,NaN,NaN,121,74,0.050712
74,2020-05-15,1,NaN,NaN,126,75,0.052808
75,2020-05-16,0,NaN,NaN,126,76,0.052808
76,2020-05-17,0,NaN,NaN,126,77,0.052808
77,2020-05-18,0,NaN,NaN,126,78,0.052808
78,2020-05-19,1,NaN,NaN,127,79,0.053227
79,2020-05-20,1,NaN,NaN,128,80,0.053646
80,2020-05-21,1,NaN,NaN,133,81,0.055742
81,2020-05-22,1,NaN,NaN,136,82,0.056999
82,2020-05-23,1,NaN,NaN,138,83,0.057837
83,2020-05-24,0,NaN,NaN,138,84,0.057837
84,2020-05-25,0,NaN,NaN,138,85,0.057837
85,2020-05-26,1,NaN,NaN,141,86,0.059095
86,2020-05-27,1,NaN,NaN,145,87,0.060771
87,2020-05-28,1,NaN,NaN,151,88,0.063286
88,2020-05-29,1,NaN,NaN,161,89,0.067477
89,2020-05-30,0,NaN,NaN,161,90,0.067477
90,2020-05-31,0,NaN,NaN,161,91,0.067477
91,2020-06-01,1,NaN,NaN,166,92,0.069573
92,2020-06-02,1,NaN,NaN,174,93,0.072925
93,2020-06-03,1,NaN,NaN,180,94,0.075440
94,2020-06-04,1,NaN,NaN,183,95,0.076697
95,2020-06-05,1,NaN,NaN,188,96,0.078793
96,2020-06-06,1,NaN,NaN,192,97,0.080469
97,2020-06-07,0,NaN,NaN,192,98,0.080469
98,2020-06-08,1,NaN,NaN,195,99,0.081727
99,2020-06-09,1,NaN,NaN,196,100,0.082146
100,2020-06-10,1,NaN,NaN,203,101,0.085080
101,2020-06-11,1,NaN,NaN,213,102,0.089271
102,2020-06-12,1,NaN,NaN,224,103,0.093881
103,2020-06-13,1,NaN,NaN,227,104,0.095138
104,2020-06-14,0,NaN,NaN,227,105,0.095138
105,2020-06-15,1,NaN,NaN,230,106,0.096396
106,2020-06-16,1,NaN,NaN,235,107,0.098491
107,2020-06-17,1,NaN,NaN,240,108,0.100587
108,2020-06-18,1,NaN,NaN,241,109,0.101006
109,2020-06-19,1,NaN,NaN,246,110,0.103101
110,2020-06-20,1,NaN,NaN,247,111,0.103521
111,2020-06-21,0,NaN,NaN,247,112,0.103521
112,2020-06-22,1,NaN,NaN,249,113,0.104359
113,2020-06-23,1,NaN,NaN,256,114,0.107293
114,2020-06-24,1,NaN,NaN,257,115,0.107712
115,2020-06-25,1,NaN,NaN,260,116,0.108969
116,2020-06-26,1,NaN,NaN,267,117,0.111903
117,2020-06-27,1,NaN,NaN,270,118,0.113160
118,2020-06-28,1,NaN,NaN,271,119,0.113579
119,2020-06-29,1,NaN,NaN,275,120,0.115256
120,2020-06-30,1,NaN,NaN,281,121,0.117770
121,2020-07-01,1,NaN,NaN,292,122,0.122381
122,2020-07-02,1,NaN,NaN,296,123,0.124057
123,2020-07-03,1,NaN,NaN,299,124,0.125314
124,2020-07-04,1,NaN,NaN,300,125,0.125733
125,2020-07-05,0,NaN,NaN,300,126,0.125733
126,2020-07-06,1,NaN,NaN,304,127,0.127410
127,2020-07-07,1,NaN,NaN,313,128,0.131182
128,2020-07-08,1,NaN,NaN,340,129,0.142498
129,2020-07-09,1,NaN,NaN,356,130,0.149204
130,2020-07-10,1,NaN,NaN,412,131,0.172674
131,2020-07-11,1,NaN,NaN,421,132,0.176446
132,2020-07-12,1,NaN,NaN,422,133,0.176865
133,2020-07-13,1,NaN,NaN,453,134,0.189858
134,2020-07-14,1,NaN,NaN,517,135,0.216681
135,2020-07-15,1,NaN,NaN,550,136,0.230511
136,2020-07-16,1,NaN,NaN,605,137,0.253562
137,2020-07-17,1,NaN,NaN,659,138,0.276194
138,2020-07-18,1,NaN,NaN,685,139,0.287091
139,2020-07-19,1,NaN,NaN,724,140,0.303437
140,2020-07-20,1,NaN,NaN,746,141,0.312657
141,2020-07-21,1,NaN,NaN,823,142,0.344929
142,2020-07-22,1,NaN,NaN,874,143,0.366303
143,2020-07-23,1,NaN,NaN,911,144,0.381811
144,2020-07-24,1,NaN,NaN,988,145,0.414082
145,2020-07-25,1,NaN,NaN,1024,146,0.429170
146,2020-07-26,1,NaN,NaN,1037,147,0.434619
147,2020-07-27,1,NaN,NaN,1069,148,0.448030
148,2020-07-28,1,NaN,NaN,1123,149,0.470662
149,2020-07-29,1,NaN,NaN,1177,150,0.493294
150,2020-07-30,1,NaN,NaN,1242,151,0.520536
151,2020-07-31,1,NaN,NaN,1312,152,0.549874
152,2020-08-01,1,NaN,NaN,1354,153,0.567477
153,2020-08-02,1,NaN,NaN,1383,154,0.579631
154,2020-08-03,1,NaN,NaN,1424,155,0.596815
155,2020-08-04,1,NaN,NaN,1459,156,0.611484
156,2020-08-05,1,NaN,NaN,1501,157,0.629086
157,2020-08-06,1,NaN,NaN,1570,158,0.658005
158,2020-08-07,1,NaN,NaN,1624,159,0.680637
159,2020-08-08,1,NaN,NaN,1664,160,0.697402
160,2020-08-09,1,NaN,NaN,1699,161,0.712070
161,2020-08-10,1,NaN,NaN,1757,162,0.736379
162,2020-08-11,1,NaN,NaN,1842,163,0.772003
163,2020-08-12,1,NaN,NaN,1904,164,0.797988
164,2020-08-13,1,NaN,NaN,1966,165,0.823973
165,2020-08-14,1,NaN,NaN,2054,166,0.860855
166,2020-08-15,1,NaN,NaN,2087,167,0.874686
167,2020-08-16,1,NaN,NaN,2156,168,0.903604
168,2020-08-17,1,NaN,NaN,2187,169,0.916597
169,2020-08-18,1,NaN,NaN,2263,170,0.948449
170,2020-08-19,1,NaN,NaN,2290,171,0.959765
171,2020-08-20,1,NaN,NaN,2330,172,0.976530
172,2020-08-21,1,NaN,NaN,2378,173,0.996647
173,2020-08-22,1,NaN,NaN,2385,174,0.999581
174,2020-08-23,1,NaN,NaN,2386,175,1.000000

In [34]:

gompertz_dpto.to_excel('datosTotalesparaGompertzDpto.xlsx')

In [35]:
print(plt.style.available)

NameError: name 'plt' is not defined

In [ ]:
from matplotlib import pyplot as plt

plt.style.use('tableau-colorblind10')
#plt.xkcd()

In [ ]:
eje_x = gompertz_dpto['Fecha de notificación']

plt.plot(eje_x, gompertz_dpto['Penetración real'])
#plt.plot(eje_x, gompertz_dpto['Acumulados'], label='CASOS')

plt.xlabel('Fecha')
plt.ylabel('Casos acumulados')
plt.legend()
plt.tight_layout()
         
plt.show()